<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">.NET Framework 4.5 demo</h1>
        <p class="lead">This is a legacy Web API which has some dependencies</p>      
    </section>
    <div class="row">
        <div class="col-12">
            <form name="form" method="post" enctype="multipart/form-data" action="/api/files">                
                <div>
                    <label for="file">File</label>
                    <input name="file" type="file" />
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
    
</main>